# Service options

COMPOSE_PROJECT_NAME=default

# Environment variables for stack services

# MySQL

MYSQL_DATABASE=default
MYSQL_USERNAME=admin
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=3306

# ClickHouse

CLICKHOUSE_DATABASE=default
CLICKHOUSE_USERNAME=admin
CLICKHOUSE_PASSWORD=
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000

# Caddy

CADDY_PORT=80
CADDY_TLS_PORT=443