# Base variables

APP_MODE=production

ACCESS_TOKEN=

TELEGRAM_OPTIONS__DASHBOARD_URL=

# Internal API (browser_agent -> api service)

API_OPTIONS__HOST=api
API_OPTIONS__PORT=8000
API_OPTIONS__PREFIX=/api
