# Base variables

APP_MODE=production

# MySQL variables

ENGINE_OPTIONS__MYSQL__HOST=mysql
ENGINE_OPTIONS__MYSQL__PORT=3306
ENGINE_OPTIONS__MYSQL__DATABASE=dydex
ENGINE_OPTIONS__MYSQL__USERNAME=admin
ENGINE_OPTIONS__MYSQL__PASSWORD=51IAkL9KpIa6