# Base variables

APP_MODE=production

# MySQL variables

ENGINE_OPTIONS__MYSQL__HOST=mysql
ENGINE_OPTIONS__MYSQL__PORT=3306
ENGINE_OPTIONS__MYSQL__DATABASE=default
ENGINE_OPTIONS__MYSQL__USERNAME=admin
ENGINE_OPTIONS__MYSQL__PASSWORD=admin

# Clickhouse variables

ENGINE_OPTIONS__CLICKHOUSE__HOST=clickhouse
ENGINE_OPTIONS__CLICKHOUSE__PORT=9000
ENGINE_OPTIONS__CLICKHOUSE__DATABASE=default
ENGINE_OPTIONS__CLICKHOUSE__USERNAME=admin
ENGINE_OPTIONS__CLICKHOUSE__PASSWORD=admin